body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

button {
    padding: 1em 2em;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.notification {
    position: fixed;
    top: 20px;
    right: -300px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 15px;
    z-index: 9999;
    transition: right 1s ease-in-out;
}

.notification.show {
    right: 20px;
}

.notification.hide {
    right: -300px;
}

#notification-message{
    color: white;
}

input {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    margin-top: 1em;
    font-size: 1.2em;
    color: #333;
}